body{
  background-color:green;
  max-width: 375px;
  margin:32px auto 64px;
}
#cardgrid{
  /*テーブル全体をセンタリング*/
  width:90%;
  margin:10px auto 34px;
  /*グリッドレイアウトの設定*/
  display:grid;
  /*13個の要素を均等の幅で配置*/
  grid-template-columns:repeat(4,1fr);
  /*隙間を画面の縦幅の0.5%に設定*/
  gap:12px;
}
/*td要素でなおかつclassにcardがついている要素*/
div.card{
  /*要素の縦横比をトランプ画像と同じ2:3に設定*/
  aspect-ratio: 2 / 3;
  background-color:yellow;
  font-size: 4px;
  cursor: pointer;
}
/*div要素でclassにbackがついている要素は裏面画像(importantルール適用)*/
div.back{
  background-image:url(../assets/images/card.jpg) !important;
  background-size: contain;
  background-repeat: no-repeat;
}
div.card > p {
  font-size: 12px;
  margin: 4px
}
div.back > p {
  display: none;
}
.title {
  font-size: 32px;
  color: white;
  text-align: center;
  margin: 32px 0 52px;
  font-weight: bold;
}
.sub-title {
  font-size: 20px;
  color: white;
  text-align: center;
  margin: 14px 0 0;
  font-weight: bold;
}
.item {
  font-size: 28px;
  color: gold;
  text-align: center;
  margin: 0 0 34px;
  font-weight: bold;
}
.name {
  font-size: 16px;
  color: white;
  text-align: center;
  margin: 14px 0 0;
  font-weight: bold;
}
.button-box {
  margin-bottom: 34px;
}
.button, #startBt {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 240px;
	margin: auto;
	padding: 1rem 2rem;
	font-weight: bold;
  font-size: 14px;
	border-radius: 100vh;
  border: solid 4px white;
	color: white;
  background-color:green;
  cursor: pointer;
}
/*アニメーションの定義（名前はfadeout)*/
@keyframes fadeout{
  40%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
div.fadeout{
  /*使用するアニメーション名*/
  animation-name:fadeout;
  /*アニメーション時間*/
  animation-duration:2s;
  /*アニメーション終了時の挙動*/
  animation-fill-mode:forwards;
}
.twitter {
  text-align: center;
  margin: 14px auto 52px;
}
.result-description {
  max-width: 320px;
  font-size: 20px;
  color: white;
  text-align: center;
  margin: 14px auto 52px;
  font-weight: bold;
  line-height: 1.4;
}
/* .result-maisu {
  max-width: 320px;
  font-size: 20px;
  color: gold;
  text-align: center;
  margin: 14px auto 28px;
  font-weight: bold;
  line-height: 1.4;
}
.result-maisu > span {
  font-size: 24px;
} */
.kome {
  color: white;
  font-size: 14px;
  text-align: center;
  margin: 8px 0;
}
.movie {
  position: absolute;
  display: flex;
  flex-flow: column;
  justify-content:space-around;
  top: 0;
  left: 0;
  height: 100vh;
  background: black;
}
.movie > iframe {
  width: 100vw;
  height: 80vh;
}
.movie .button {
  background: black;
}